html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #123;
    color: #fff;
    padding: 10px 0;
    font-size: large;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header nav img#logo {
    height: 60px;
    border-radius: 25%;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: darksalmon;
}

.contact-page {
    background: url('../images/Web-Development.jpg');
}

.contact {
    width: 75%;
    padding: 20;
    margin: auto;
    text-align: center;
    background-color: #789;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.2);

}

#contact-info h1{
    padding-top: 2rem;
    color: #333;
}

.contact h1, .contact h3, .contact h4 {
    color: black;
    text-align: center;
    margin: 20px;
    
}

.contact-details h3 {
    color: black;
    margin-top: 20px;
    text-align: center;
}

.contact-details a {
    color: darkslateblue;
    text-decoration: none;
}

.contact-details a:hover {
    color: darkslategrey;
}

#contact-form h2{
    color: #333;
    padding-top: 2rem;
}

#contact-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
}

#contact-form label {
    margin: 10px 0 5px;
    text-align: left;
    width: auto;
    color: #000;
}

#contact-form input, #contact-form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

#contact-form button {
    padding: 10px 20px;
    background-color: darkcyan;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: darkslateblue;
}

input{
    margin: auto;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.social-media-links img{
    animation: slideInLeft 2.5s infinite;
}

#social-media {
    text-align: center;
    margin: 20px 0;
}

.social-media-links a {
    margin: 0 10px;
    display: inline-block;
}

.social-media-links img {
    width: 40px;
    height: 40px;
}

footer {
    background-color: #123;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: relative;
    width: 100%;
    margin: auto;
}

.social-media {
    padding-bottom: 20px;
}

footer h2 {
    padding: 20px;
}

footer .social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}


footer .social-media img {
    width: 30px;
    height: 30px;
    border-radius: 3px;

}

footer .social-media img:hover {
    background-color: rebeccapurple;
}

.copy {
    text-align: right;
    margin-right: 10px;
}


@media (max-width: 768px) {
    header nav {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 10px 0;
    }

    .contact {
        width: 90%;
        padding: 10px;
    }

    #contact-form form {
        width: 100%;
        padding: 0 10px;
    }

    #contact-form input, #contact-form textarea {
        width: 90%;
    }
}


.nav-links a {
    color: #f4f4f4;
}

.language-button,
.dark-mode-toggle label {
    color: #fff;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .nav-links a {
    color: #ffffff;
}

body.dark-mode .language-button,
body.dark-mode .dark-mode-toggle label {
    color: #ffffff;
}

.dark-mode-toggle {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dark-mode-toggle input[type="checkbox"] {
    display: none;
}

.dark-mode-toggle label {
    cursor: pointer;
}

.dark-mode-toggle label:before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    transition: background-color 0.3s;
}

.dark-mode-toggle input[type="checkbox"]:checked + label:before {
    background-color: #667;
}

.dark-mode-toggle label:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.dark-mode-toggle input[type="checkbox"]:checked + label:after {
    transform: translateX(20px);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 2rem;
    background-color: #123;
}

.hamburger .line {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 4px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #123;
    padding: 10px;
}

#logo {
    height: 40px;
    margin-right: 15rem;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
        align-items: end;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: end;
    }

    .nav-links li {
        width: 100%;
        text-align: end;
    
    }

    .nav-links li a {
        display: block;
        text-align: end;
        margin-right: 3rem;
    }

    .nav-links.active {
        display: flex;
    
    }
}