
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #fff;

}

.projects-page{
    background: url('../images/o1000066714904607851.jpg');
}

header {
    background-color: #123;
    color: #fff;
    padding: 10px 0;
    font-size: large;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header nav img#logo {
    height: 60px;
    border-radius: 25%;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

div h1, div h2 {
    color: #fff;
}

div p {
    line-height: 1.6;
    color: #f4f4f4;
    
}

.projects-page h1, h4{
    padding: 20px;
    text-align: center;
    color: whitesmoke;
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;

}

.project {
    background: url('../images/51719534779_518431422b_b.jpg');
    box-sizing: border-box;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    padding: 8px;
    flex: 1 1 30%;
    max-width: 28%;
    transition-duration: 1000ms;

}


@keyframes fadeInUp {
    0% { transform: scale(0.5); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .project{
    animation-name: fadeInUp;
    animation-duration: 5s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in-out;
  }

.project img {
    width: 100%; 
    max-width: 350px; 
    height: 200px; 
    object-fit: cover; 
    display: block;
    margin: 0 auto 10px;
    border-radius: 10px;
}

.project h2 {
    margin: 10px 0;
    text-align: center;
}

.project a {
    text-decoration: none;
    color: #f4f4f4;
    font-weight: bold;

}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact{
    margin-top: auto; 
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background: url('../images/51719534779_518431422b_b.jpg');

}

.contact img{
    max-width: 10%;
    height: 50%;
}

.project .contact a {
    text-decoration: none;
    font-weight: bold;
}

.project .contact a:hover {
    color: darkblue;
}

footer {
    background-color: #123;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    margin: auto;
    width: 100%;
}

.social-media {
    padding-bottom: 20px;
}

footer .social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

footer .social-media a:hover {
    color: bisque;
}

footer .social-media img {
    width: 30px;
    height: 30px;
    border-radius: 3px;

}

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 10px 0;
    }

    #projects {
        flex-direction: column;
        align-items: center;
    }

    .project {
        max-width: 90%;
        flex: 1 1 100%;
        margin-bottom: 20px;
    }

    .project img {
        height: auto;
    }
} 