
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #123;
    color: #fff;
    padding: 20px 0;
    font-size: large;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header nav img#logo {
    height: 50px;
    border-radius: 25%;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: darksalmon;
}

.resume-page {
    background: url('../images/laptopcode.jpg') no-repeat center center/cover;
}

main {
    max-width: 1200px;
    margin: 3rem auto;
    padding: 3rem;
    background: rgba(0, 0, 0, 0.7) url('../images/o1000066714904607851.jpg') ;
    border-radius: 100px;
}

section {
    background-color: #c3a8a8;
    margin: 2rem;
    padding-top: 20px;
    border-radius: 50px;
    height: 75%;
}

section #my-cv {
    padding-top: 10px;
}

 h1{
    margin: 10px;
    padding: 5px;
    text-align: center;
  }
  
  .my-cv h2 {
          flex-basis: 100%;
          text-align: start;
          margin: 1px;
          padding: 10px;
          color: blue;
          display: block;
          width: 30%;
          background-color: #789;
          border-radius: 50px;
    }
  
    #my-cv .about{
      width: 58%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: auto;
      color: #fff;
      
    } 
   
    .about img {
        width: 50%;
        border-radius: 5px;
        
    }

    .about a {
        max-width: 150px;
        display: inline-flex;
        align-items: center;
        padding: 3px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        border-radius: 15px;
        transition: background-color 0.3s ease;
        
    }

    .about a:hover {
        color: aqua;
    }
    
    h3{
      align-items: start;
      color: darkblue;
      display: block;
      margin: 10px;
  
      }
      
      .about p{
          text-align: start;
          margin: 0; 
          padding: 10px;
          color: #f4f4f4;

          }

      h4 {
          text-align: right;
          margin: 20px;
          font-size: large;
          color: #000;
          display: block;
    }

    .details{
        background: rgba(0, 0, 0, 0.7) url('../images/o1000066714904607851.jpg') ;
        border-radius: 50px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
        height: auto;
       
    }
    
    .details h2 {
        width: auto;
        margin: 10px;
        background-color: #c3a8a8;
        border-radius: 100px;
        color: blue;
    }

      .experience{
      width: 45%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: auto;
      padding: 0%;
  
    }

      .experience p{
      text-align: start;
      margin: 10px;
      padding: 10px;
    }

    .education{
      width: 45%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: auto;
      padding: 0%;

    }

    .education p{
      text-align: start;
      margin: 10px;
      padding: 10px;
    }

    .experience-item {
      width: 35%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: auto;
      padding: 0%;
    }
    
    .competences {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .skill {
        display: flex;
        align-items: center;
        margin: 10px;
        width: 100%;
    }
    
    .skill-bar {
        flex-grow: 1;
        background-color: #f1f1f1;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        height: 25px;
        margin: 10px;
    }
    
    .skill-percentage {
        background-color: #4caf50;
        height: 100%;
        border-radius: 20px;
    }
    
    .skill-name {
        width: 250px; 
        font-size: 16px;
        text-align: left;
    }
    
    
    .brev{
      width: 45%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: auto;
      padding: 0%;
    }

    .brev p{
      text-align:justify;
      margin: 10px;
      padding: 10px;
    }
   
#resume-intro {
    text-align: center;
    background: rgba(0, 0, 0, 0.7) url('../images/o1000066714904607851.jpg') ;
    padding: 20px;
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    margin-bottom: 20px;
    list-style: none;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#resume-intro img, .resume-image {
    max-width: 50px;
    border-radius: 10px;
    
}

.info-cv, .info-contact {
    text-align: center;
    margin: 20px auto;
    padding: 15px;
    max-width: 600px;
    background-color: #c3a8a8;
    border-radius: 75px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info-cv p, .info-contact p {
    font-size: 1em;
    color: #000;
    margin-bottom: 20px;
}


.download-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    color: aqua;
    background-color: #0056b3;
}

h5 {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2em;
    color: whitesmoke;
    background-color: #789;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: darkviolet;
}


@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


section {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

section {
    animation: slideInLeft 1.5s forwards;
}

footer {
    background-color: #123;
    color: #fff;
    text-align: center;
    position: relative;
    width: 100%;
    margin: auto;
}

.social-media {
    padding-bottom: 2rem;
}

footer h2 {
    padding: 20px;
}

footer .social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

footer .social-media a:hover {
    color: bisque;
}

footer .social-media img {
    width: 30px;
    height: 30px;
    border-radius: 3px;

}

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 10px 0;
    }

    main {
        padding: 10px;
    }

    .my-cv {
        border-radius: 50px;
        margin: 10px;
    }
    .about, .experience, .education, .experience-item, .competences, .brev {
        width: auto;
        max-height: 100%;
        margin: 10px;
    }

    .about img {
        width: 50%;
    }

    .details h2 {
        width: auto;
        margin: 10px;
    }

    .my-cv h2 {
        width: auto;
    }
}

.nav-links a {
    color: #f4f4f4;
}

.language-button,
.dark-mode-toggle label {
    color: #fff;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .nav-links a {
    color: #ffffff;
}

body.dark-mode .language-button,
body.dark-mode .dark-mode-toggle label {
    color: #ffffff;
}

.dark-mode-toggle {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dark-mode-toggle input[type="checkbox"] {
    display: none;
}

.dark-mode-toggle label {
    cursor: pointer;
}

.dark-mode-toggle label:before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    transition: background-color 0.3s;
}

.dark-mode-toggle input[type="checkbox"]:checked + label:before {
    background-color: #667;
}

.dark-mode-toggle label:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 45%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.dark-mode-toggle input[type="checkbox"]:checked + label:after {
    transform: translateX(20px);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 2rem;
    background-color: #123;
}

.hamburger .line {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 4px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #123;
    padding: 10px;
}

#logo {
    height: 40px;
    margin-right: 15rem;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
        align-items: end;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: end;
    }

    .nav-links li {
        width: 100%;
        text-align: end;
    
    }

    .nav-links li a {
        display: block;
        text-align: end;
        margin-right: 3rem;
    }

    .nav-links.active {
        display: flex;
    
    }
}