.skills-page{
    background: url('../images/laptopcode.jpg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #123;
    color: #fff;
    padding: 10px 0;
    font-size: large;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header nav img#logo {
    height: 60px;
    border-radius: 25%;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: darksalmon;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

h1{
    color: #fff;
    margin-bottom: 10px;

} 

h2 {
    color: #fff;
    margin-bottom: 10px;
}

h4 {
    color: #fff;
    line-height: 1.6;
    margin-bottom: 20px;
}

#skills {
    text-align: center;
    padding: 20px;
    background: url('../images/o1000066714904607851.jpg');
    color: #fff;
    border-radius: 10px;
}

@keyframes pulse {
    0% { transform: scale(0.5); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .skills-category{
    animation-name: pulse;
    animation-duration: 5s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in-out;
  }

.skills-category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 2rem;
   
}

.skills-category div {
    flex: 1;
    max-width: 275px;
    max-height: auto; 
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    background: url('../images/1698229487528.jpg') no-repeat center center/cover;
}

.skills-category div:hover {
    transform: scale(1.09);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.skills-category img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    
}

footer {
    background-color: #123;
    color: #fff;
    text-align: center;
    position: relative;
    width: 100%;
    margin: auto;
}


.social-media {
    padding-bottom: 2rem;
}

footer h2 {
    padding: 20px;
}

footer .social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

footer .social-media a:hover {
    color: bisque;
}

footer .social-media img {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    
}

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 10px 0;
    }

    main {
        padding: 0 10px;
    }

    #skills {
        padding: 10px;
    }

    .skills-category {
        flex-direction: column;
        align-items: center;
    }

    .skills-category div {
        max-width: 90%;
    }

    .skills-category img {
        width: 100%;
        height: auto;
    }

    footer {
        padding: 10px;
    }

    footer .social-media {
        padding-bottom: 1rem;
    }
}
