.skills-page{
    background: url('../images/laptopcode.jpg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #123;
    color: #fff;
    padding: 10px 0;
    font-size: large;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header nav img#logo {
    height: 60px;
    border-radius: 25%;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: darksalmon;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

h1{
    color: #fff;
    margin-bottom: 10px;

} 

h2 {
    color: #fff;
    margin-bottom: 10px;
}

h4 {
    color: #fff;
    line-height: 1.6;
    margin-bottom: 20px;
}

#skills {
    text-align: center;
    padding: 20px;
    background: url('../images/o1000066714904607851.jpg');
    color: #fff;
    border-radius: 10px;
}

@keyframes pulse {
    0% { transform: scale(0.5); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .skills-category{
    animation-name: pulse;
    animation-duration: 5s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in-out;
  }

.skills-category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 2rem;
   
}

.skills-category div {
    flex: 1;
    max-width: 275px;
    max-height: auto; 
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    background: url('../images/1698229487528.jpg') no-repeat center center/cover;
}

.skills-category div:hover {
    transform: scale(1.09);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.skills-category img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    
}

footer {
    background-color: #123;
    color: #fff;
    text-align: center;
    position: relative;
    width: 100%;
    margin: auto;
}


.social-media {
    padding-bottom: 2rem;
}

footer h2 {
    padding: 20px;
}

footer .social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

footer .social-media a:hover {
    color: bisque;
}

footer .social-media img {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    
}

footer .social-media img:hover {
    background-color: rebeccapurple;
}


@media (max-width: 768px) {
    header nav {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
        align-items: end;
    }

    header nav ul li {
        margin: 10px 0;
    }

    main {
        padding: 0 10px;
    }

    #skills {
        padding: 10px;
    }

    .skills-category {
        flex-direction: column;
        align-items: center;
    }

    .skills-category div {
        max-width: 90%;
    }

    .skills-category img {
        width: 100%;
        height: auto;
    }

    footer {
        padding: 10px;
    }

    footer .social-media {
        padding-bottom: 1rem;
    }
}


.nav-links a {
    color: #f4f4f4;
}

.language-button,
.dark-mode-toggle label {
    color: #fff;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .nav-links a {
    color: #ffffff;
}

body.dark-mode .language-button,
body.dark-mode .dark-mode-toggle label {
    color: #ffffff;
}

.dark-mode-toggle {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dark-mode-toggle input[type="checkbox"] {
    display: none;
}

.dark-mode-toggle label {
    cursor: pointer;
}

.dark-mode-toggle label:before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s;
}

.dark-mode-toggle input[type="checkbox"]:checked + label:before {
    background-color: #667;
}

.dark-mode-toggle label:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #123;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.dark-mode-toggle input[type="checkbox"]:checked + label:after {
    transform: translateX(20px);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 2rem;
    background-color: #123;
}

.hamburger .line {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 4px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #123;
    padding: 10px;
    
}

#logo {
    height: 40px;
    margin-right: 15rem;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
        align-items: end;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: end;
    }

    .nav-links li {
        width: 100%;
        text-align: end;
    
    }

    .nav-links li a {
        display: block;
        text-align: end;
        margin-right: 3rem;
    }

    .nav-links.active {
        display: flex;
    
    }
    
}

@keyframes shake {
    from, to {
      transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
      transform: translate3d(10px, 0, 0);
    }
  }
  
  .skill {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }
  
  
.soft-skills {
    background: url("../images/1698229487528.jpg") ;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    
}

.soft-skills h2 {
    text-align: center;
    margin: 3rem;
}

.skill {
    display: flex;
    align-items: center;
    margin: 15px;
}

.skill-name {
    width: 150px; 
    font-size: 18px;
    margin-right: 10px;
}

.skill-bar {
    flex-grow: 1;
    background-color: #f1f1f1;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    height: 25px;
    display: flex;
    align-items: center;
}

.skill-percentage {
    background-color: #4caf50;
    height: 100%;
    border-radius: 20px;
}

.copy {
    text-align: right;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .soft-skills {
      width: 100%;
      padding: 5px;
      margin-left: auto; 
    }
  
    .skill-bar {
        height: 15px; 
        width: 100%;
        text-align: center;
      
    }
  
    .skill-name {
        text-align: start;
        margin-left: auto;
        font-size: 1em; 
    }
  
    h2 {
      font-size: 1.2em; 
    }
  }