
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.ico

images/*.jpg
images/*.jpeg
images/*.png
images/*.gif
images/*.bmp
images/*.tiff
images/*.ico

assets/images/*.jpg
assets/images/*.jpeg
assets/images/*.png
assets/images/*.gif
assets/images/*.bmp
assets/images/*.tiff
assets/images/*.ico
